@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Fascinate&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
}

a {
  color: #b20d30;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  background-color: #b20d30;
  height: 100vh;
  flex-direction: column;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
  color: #0F0A0A;
}

header {
  background-image: url("./img/pizza-heading.png");
  background-size: 100% 300%, cover;
  justify-content: space-between;
  border-bottom: 1px solid #ffb82b;
  padding: 0px 100px;
  height: 200px;
  align-items: center;
  position: relative;
  box-shadow: inset -15px -30px 30px 10px rgba(15, 10, 10, 0.5);
  flex-shrink: 0;
}

.logo {
  font-family: "Fascinate", system-ui;
  color: rgb(255, 204, 102);
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  text-shadow: 2px 0 #0F0A0A, -2px 0 #0F0A0A, 0 2px #0F0A0A, 0 -2px #0F0A0A, 1px 1px #0F0A0A,
    -1px -1px #0F0A0A, 1px -1px #0F0A0A, -1px 1px #0F0A0A;
}

nav {
  height: 100%;
  gap: 15px;
  align-items: flex-end;
}

nav button {
  border: 1px solid #ffb82b;
  border-bottom: 0px;
  padding: 15px 30px;
  border-radius: 15px 15px 0px 0px;
  background-color: #ffcc66;
  box-shadow: 12px -33px 50px 5px rgba(255, 184, 43, 0.5);
  font-family: "Courier Prime", monospace;
  font-size: 20px;
}

nav button:hover {
  text-decoration: underline;
  text-decoration-color: #b20d30;

}

nav button.active {
  background-color: #ffb82b;
  color: #222;
}

#content {
  flex: 1;
  background-color: #ffb82b;
  justify-content: center;
  align-items: center;
  padding: 0px 150px;
}

.wrapper {
  align-items: center;
}

.hero-img {
  background-image: url("./img/pizza-frontpage.png");
  background-size: 450px 450px, cover;
  background-repeat: no-repeat;
  height: 450px;
}

.menu-wrapper {
  flex-direction: column;
  gap: 15px;
  padding-top: 30px;
}

.menu-item {
  gap: 50px;
  align-items: center;
  padding: 15px 150px;
  border: 1px solid #b20d30;
  background-color: rgba(255, 204, 102, 0.7);
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px #b20d30;
}
.menu-image {
  max-width: 150px;
  height: 150px;
  background-size: 150px 150px, cover;
  background-repeat: no-repeat;
}

.contact-wrapper {
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  max-width: 650px;
  padding: 30px 0px;
}

.icon-wrapper {
  gap: 15px;
  margin: auto 0px;
}

.icon-img {
  height: 50px;
  max-width: 50px;
  width: 50px;
}

.square {
  flex-direction: column;
  height: 200px;
  width: 200px;
  max-width: 200px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #b20d30;
  background-color: rgba(255, 204, 102, 0.7);
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px #b20d30;
  gap: 15px;
}

.wrapper div,
.menu-wrapper div {
  flex: 1;
}
