* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
}

body {
  background-color: rebeccapurple;
  height: 100vh;
  flex-direction: column;
}

header {
  justify-content: space-between;
  border-bottom: 1px solid white;
  padding: 0px 100px;
  height: 100px;
  align-items: center;
  position: relative;
}

nav {
  height: 100%;
  gap: 15px;
  align-items: flex-end;
}

nav button {
  border: 1px solid black;
  border-bottom: 0px;
  padding: 15px 30px;
  background-color: white;
  border-radius: 15px 15px 0px 0px;
}

nav button.active {
  background-color: #ffcc66;
  color: #222;
}


#content {
  flex: 1;
  background-color: white;
}

.wrapper {
  align-items: center;
  justify-content: center;
  width: 100%;

}

.menu-wrapper {
  flex-direction: column;
  gap: 15px;
}

.contact-wrapper {
  flex-direction: column;
}

.wrapper div, .menu-wrapper div {
  flex: 1;
}
