* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: rebeccapurple; */
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 0px 100px;
  height: 100px;
  align-items: center;
  position: relative;
}

nav {
  height: 100%;
  display: flex;
  gap: 15px;
  align-items: flex-end;
}

nav button {
  border: 1px solid black;
  border-bottom: 0px;
  padding: 15px 30px;
  background-color: white;
  border-radius: 15px 15px 0px 0px;
}

#content {
  flex: 1;
  display: flex;
  align-items: center;

}

#content div {
  flex: 1;
}

.hero-text {
  padding: 0px 120px;
}
